*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Comfortaa, sans-serif;
    font-style: normal;
    font-weight: 700;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
*:focus-visible {
    outline: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background: radial-gradient(#ee6464, #30a0f9);
    color:#000;
}
a {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    transition: 0.6s;
}
a:visited {
    color: #FFF;
}
a:hover {
    color: #30a0f9;
}
header {
    border-bottom: 6px solid #007;
    width: 100%;
}
main {
    width: 100%;
}

.h-m {
    width: 100%;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1280px;
    height: 80px;
}
.header__name {
    display: inline-flex;
}
.header__img {
    max-width: 60px;
    margin-left: 48px;
    filter: drop-shadow(3px 3px 3px #666);
}
.header__title {
    align-self: center;
    margin-left: 16px;
    text-shadow: 4px 4px 4px #999;
}
.header__input {
    position: relative;
}
.header__search {
    min-width: 350px;
    min-height: 35px;
    margin-right: 50px;
    border: 1px solid #DDD;
    border-radius: 30px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-right: 65px;
}
.header__search:focus {
    box-shadow: 2px 2px 10px 2px #007;
}
.header__button {
    position: absolute;
    transition: 0.6s ease-in-out;
    cursor: pointer;
}
.header__button:hover {
    transition: 0.6s ease-in-out;
    transform: scale(1.2);
}
.header__button:active {
    transition: 0s;
    filter: invert(0.6);
}
.glass {
    width: 18px;
    top: 10px;
    right: 92px;
}
.cross {
    width: 18px;
    top: 10px;
    right: 62px;
}
.header__hint {
    position: absolute;
    left: 100px;
    top: 30px;
    padding: 6px;
    font-size: 10px;
    border: 2px solid #007;
    border-radius: 20px;
    background-color: #30a0f9;
    color: #FFF;
    visibility: hidden;
    box-shadow: 1px 1px 10px 1px #007;
    opacity: 0;
    transition: 0.6s ease-in-out;
}
.cross:hover ~ .header__hint {
    visibility: visible;
    opacity: 1;
    transition: 0.6s ease-in-out;
}

.main__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 40px;
    margin: 0 auto;
}
.main__a {
    margin: 0 20px 20px 20px;
    border-radius: 10px;
}
.main__img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 0 10px #000;
}
/* .main__image {
    display: block;
    width: 400px;
    height: 270px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
} */


footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #000;
    color: #FFF;
    opacity: 0.75;
}
.footer__text {
    text-align: center;
    margin: 2rem 2rem 0 2rem;
    letter-spacing: 0.2rem;
}
.footer__rs-logo {
    width: 6rem;
    height: 4rem;
    margin-top: 1rem;
    margin-left: 10rem;
    filter: invert(1);
    transition: 0.6s ease-in-out;
}
.footer__rs-logo:hover {
    transform: scale(1.1);
    transition: 0.6s ease-in-out;
}


@media (max-width: 768px) {
    .header__container {
        flex-direction: column;
        justify-content: center;
        max-width: 768px;
        height: 120px;
    }
    .header__img {
        margin-left: 0;
    }
    .header__search {
        margin: 0;
    }
    .cross {
        right: 12px;
    }
    .cross:hover ~ .header__hint {
        visibility: hidden;
        opacity: 0;
    }
    .glass {
        right: 42px;
    }
}
@media (max-width: 640px) {
    a:has(img) {
        order: -1;
    }
    .footer__text {
        margin: 2rem 1rem 0 1rem;
    }
    .footer__rs-logo {
        margin-left: 20px;
    }
}